In [1]:
import pandas as pd

# Load the dataset
data = pd.read_csv('encoded_file_district.csv')
data

,Year,District,Latitude,Longitude,Precipitation(mm),Surface_Pressure(kPa),Specific_Humidity(g/kg),Relative_Humidity(%),Temp(C),Wet_Bulb_Temp(C),...,Wind_Speed_10M_Range(m/s),Wind_Speed_50M_Range(m/s),Area(ha),Crop_Barley,Crop_Maize,Crop_Millet,Crop_Paddy,Crop_Wheat,Yield(kg/ha),Production(mt)
0,1982,Achham,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,...,8.59,10.48,500.0,1,0,0,0,0,800.0,400.0
1,1982,Achham,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,...,8.59,10.48,2850.0,0,1,0,0,0,1200.0,3420.0
2,1982,Achham,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,...,8.59,10.48,850.0,0,0,1,0,0,1106.0,940.0
3,1982,Achham,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,...,8.59,10.48,1930.0,0,0,0,1,0,1399.0,2700.0
4,1982,Achham,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,...,8.59,10.48,3200.0,0,0,0,0,1,1050.0,3360.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11620,2013,Udayapur,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,...,10.86,13.09,35.0,1,0,0,0,0,1000.0,35.0
11621,2013,Udayapur,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,...,10.86,13.09,9500.0,0,1,0,0,0,2474.0,23500.0
11622,2013,Udayapur,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,...,10.86,13.09,2580.0,0,0,1,0,0,1938.0,5000.0
11623,2013,Udayapur,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,...,10.86,13.09,15250.0,0,0,0,1,0,3466.0,52850.0
11624,2013,Udayapur,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,...,10.86,13.09,5120.0,0,0,0,0,1,3091.0,15826.0

In [2]:
data.drop('District', axis=1, inplace=True)
data

,Year,Latitude,Longitude,Precipitation(mm),Surface_Pressure(kPa),Specific_Humidity(g/kg),Relative_Humidity(%),Temp(C),Wet_Bulb_Temp(C),Max_Temp(C),...,Wind_Speed_10M_Range(m/s),Wind_Speed_50M_Range(m/s),Area(ha),Crop_Barley,Crop_Maize,Crop_Millet,Crop_Paddy,Crop_Wheat,Yield(kg/ha),Production(mt)
0,1982,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,38.94,...,8.59,10.48,500.0,1,0,0,0,0,800.0,400.0
1,1982,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,38.94,...,8.59,10.48,2850.0,0,1,0,0,0,1200.0,3420.0
2,1982,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,38.94,...,8.59,10.48,850.0,0,0,1,0,0,1106.0,940.0
3,1982,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,38.94,...,8.59,10.48,1930.0,0,0,0,1,0,1399.0,2700.0
4,1982,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,38.94,...,8.59,10.48,3200.0,0,0,0,0,1,1050.0,3360.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11620,2013,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,40.14,...,10.86,13.09,35.0,1,0,0,0,0,1000.0,35.0
11621,2013,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,40.14,...,10.86,13.09,9500.0,0,1,0,0,0,2474.0,23500.0
11622,2013,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,40.14,...,10.86,13.09,2580.0,0,0,1,0,0,1938.0,5000.0
11623,2013,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,40.14,...,10.86,13.09,15250.0,0,0,0,1,0,3466.0,52850.0
11624,2013,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,40.14,...,10.86,13.09,5120.0,0,0,0,0,1,3091.0,15826.0

In [3]:
data = data[data['Area(ha)'] != 0]
data = data[data['Yield(kg/ha)'] != 0]
data

,Year,Latitude,Longitude,Precipitation(mm),Surface_Pressure(kPa),Specific_Humidity(g/kg),Relative_Humidity(%),Temp(C),Wet_Bulb_Temp(C),Max_Temp(C),...,Wind_Speed_10M_Range(m/s),Wind_Speed_50M_Range(m/s),Area(ha),Crop_Barley,Crop_Maize,Crop_Millet,Crop_Paddy,Crop_Wheat,Yield(kg/ha),Production(mt)
0,1982,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,38.94,...,8.59,10.48,500.0,1,0,0,0,0,800.0,400.0
1,1982,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,38.94,...,8.59,10.48,2850.0,0,1,0,0,0,1200.0,3420.0
2,1982,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,38.94,...,8.59,10.48,850.0,0,0,1,0,0,1106.0,940.0
3,1982,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,38.94,...,8.59,10.48,1930.0,0,0,0,1,0,1399.0,2700.0
4,1982,29.11,81.3,1.822329,87.577863,7.857616,47.294082,19.098575,12.374877,38.94,...,8.59,10.48,3200.0,0,0,0,0,1,1050.0,3360.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11620,2013,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,40.14,...,10.86,13.09,35.0,1,0,0,0,0,1000.0,35.0
11621,2013,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,40.14,...,10.86,13.09,9500.0,0,1,0,0,0,2474.0,23500.0
11622,2013,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,40.14,...,10.86,13.09,2580.0,0,0,1,0,0,1938.0,5000.0
11623,2013,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,40.14,...,10.86,13.09,15250.0,0,0,0,1,0,3466.0,52850.0
11624,2013,26.90,86.5,2.990219,94.958986,11.648603,59.332767,23.291014,13.583370,40.14,...,10.86,13.09,5120.0,0,0,0,0,1,3091.0,15826.0

In [4]:
data = data[['Year', 'Latitude', 'Longitude', 'Precipitation(mm)', 'Temp(C)', 'Area(ha)', 'Production(mt)', 'Crop_Barley', 'Crop_Maize', 'Crop_Millet', 'Crop_Paddy', 'Crop_Wheat']]
data

,Year,Latitude,Longitude,Precipitation(mm),Temp(C),Area(ha),Production(mt),Crop_Barley,Crop_Maize,Crop_Millet,Crop_Paddy,Crop_Wheat
0,1982,29.11,81.3,1.822329,19.098575,500.0,400.0,1,0,0,0,0
1,1982,29.11,81.3,1.822329,19.098575,2850.0,3420.0,0,1,0,0,0
2,1982,29.11,81.3,1.822329,19.098575,850.0,940.0,0,0,1,0,0
3,1982,29.11,81.3,1.822329,19.098575,1930.0,2700.0,0,0,0,1,0
4,1982,29.11,81.3,1.822329,19.098575,3200.0,3360.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
11620,2013,26.90,86.5,2.990219,23.291014,35.0,35.0,1,0,0,0,0
11621,2013,26.90,86.5,2.990219,23.291014,9500.0,23500.0,0,1,0,0,0
11622,2013,26.90,86.5,2.990219,23.291014,2580.0,5000.0,0,0,1,0,0
11623,2013,26.90,86.5,2.990219,23.291014,15250.0,52850.0,0,0,0,1,0
11624,2013,26.90,86.5,2.990219,23.291014,5120.0,15826.0,0,0,0,0,1

In [36]:
# data.to_csv('final_dataset.csv', sep=',', index=False, encoding='utf-8')

In [5]:
from sklearn.preprocessing import StandardScaler

# Separate features and target variable
features = data.drop(['Production(mt)'], axis=1)  # Drop the target variable
target = data['Production(mt)']

columns_to_scale = ['Year', 'Latitude', 'Longitude', 'Precipitation(mm)', 'Temp(C)', 'Area(ha)']

# Scale the features using StandardScaler
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features[columns_to_scale].values)
features[columns_to_scale] = scaler.transform(features[columns_to_scale].values)

features

,Year,Latitude,Longitude,Precipitation(mm),Temp(C),Area(ha),Crop_Barley,Crop_Maize,Crop_Millet,Crop_Paddy,Crop_Wheat
0,-1.694134,1.288358,-1.346804,-0.439108,0.416806,-0.611337,1,0,0,0,0
1,-1.694134,1.288358,-1.346804,-0.439108,0.416806,-0.433654,0,1,0,0,0
2,-1.694134,1.288358,-1.346804,-0.439108,0.416806,-0.584874,0,0,1,0,0
3,-1.694134,1.288358,-1.346804,-0.439108,0.416806,-0.503215,0,0,0,1,0
4,-1.694134,1.288358,-1.346804,-0.439108,0.416806,-0.407191,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
11620,1.655643,-1.221524,1.045210,0.767757,1.025769,-0.646495,1,0,0,0,0
11621,1.655643,-1.221524,1.045210,0.767757,1.025769,0.069149,0,1,0,0,0
11622,1.655643,-1.221524,1.045210,0.767757,1.025769,-0.454069,0,0,1,0,0
11623,1.655643,-1.221524,1.045210,0.767757,1.025769,0.503904,0,0,0,1,0
11624,1.655643,-1.221524,1.045210,0.767757,1.025769,-0.262021,0,0,0,0,1

In [6]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [8]:
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor

# Train a GradientBoostingRegressor model
gb_regressor = GradientBoostingRegressor()
gb_regressor.fit(X_train.values, y_train.values)

# Predict on the test set
y_pred = gb_regressor.predict(X_test.values)

# Predict on new inputs
inputs = [[1982, 29.11, 81.3, 1.822329, 19.098575, 500.0]]  # Example new inputs, adjust as needed
scaled_inputs = scaler.transform(inputs)
final_inputs = np.concatenate((scaled_inputs.reshape(6,), [1, 0, 0, 0, 0])).reshape(1, -1)
display(final_inputs)
output = gb_regressor.predict(final_inputs)

print('Predicted production for new inputs:', output)

array([[-1.69413415,  1.28835796, -1.34680375, -0.43910775,  0.41680564,
        -0.61133696,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ]])

Predicted production for new inputs: [-485.79159817]

In [9]:
y_pred

array([ 1.58334329e+05,  1.51125221e+03, -2.12670286e+02, ...,
        6.44689692e+02,  2.91969997e+03,  2.84966171e+01])

In [10]:
negative_indices = [value for index, value in enumerate(y_pred) if value < 0]

if negative_indices:
    print("Negative values found in y_pred:", negative_indices)
else:
    print("No negative values found in y_pred")

Negative values found in y_pred: [-212.67028561044225, -257.4363085398216, -274.1687520377986, -42.20479957332196, -507.1647750382538, -42.20479957332196, -341.5119560970896, -317.45958065927533, -173.17993858358938, -402.36747690585423, -317.45958065927533, -42.38110049719751, -42.20479957332196, -62.680816330407325, -152.3189430653298, -738.166845490254, -135.58889806447925, -215.83689495829105, -144.36369480719452, -46.11173975579495, -237.41541908865247, -340.3392128208957, -115.2452275286084, -981.7513225581866, -113.52660027219483, -283.324108547674, -10.58235300023696, -341.3757111389607, -4.632582314092094, -15.664205400170573, -499.90630238872217, -184.45552414081902, -434.7020201826656, -411.8135419237563, -858.7250683923044, -39.920691667803624, -100.53500390044515, -291.4077942714643, -317.45958065927533, -14.196770518115322, -434.7020201826656, -76.03140806888578, -82.30763839186541, -494.6095436405805, -42.20479957332196, -6.3299398177528765, -205.26034028190878, -433.4984020844007, -76.1309924137321, -2.5670531718745018, -341.3885343172402, -543.8369752875068, -1.6755792623895616, -586.3501060103274, -289.40174572225465, -553.5892252279664, -331.75960540417384, -184.45552414081902, -127.83735823435957, -14.196770518115322, -329.3835655045425, -776.9657413298743, -57.3125067537909, -485.7915981727756, -42.38110049719751, -463.23410213946926, -428.9406678610218, -527.3704244229416, -83.14431338775303, -89.88129965703912, -212.67028561044225, -173.17993858358938, -328.833302919567, -186.6776233389117, -858.7250683923044, -112.75720543888868, -1296.7302555539957, -771.0124906190484, -389.45974190357214, -835.9454229172603, -274.1687520377986, -107.5752246201396, -128.3173966734406, -561.9447243794779, -331.5191460425571, -900.0820431843064, -42.20479957332196, -771.0124906190484, -433.62940282113914, -14.196770518115322, -313.5685452953549, -324.84415341774735, -420.2392820160113, -205.26034028190878, -317.45958065927533, -13.13324653862841, -742.7041172381065, -504.88835205628607, -173.17993858358938, -212.67028561044225, -38.347779511642486, -485.7915981727756, -97.02681237688708, -245.82575997028152, -463.23410213946926, -951.9021323291015, -620.8225151838699, -38.047130789501225, -73.43904083179163, -281.5599550804609, -376.72792048667424, -671.2970603055923, -28.89802722899512, -139.17293056909722, -556.9710050446804, -49.295613272429705, -195.16172157903446, -126.88972456905321, -274.0876193379054, -181.2122318819429, -83.14431338775303, -198.86635873205455, -177.46907122512425, -21.00792363171928, -442.94177067263865, -184.45552414081902, -201.18796763879612, -54.00184335307079, -288.1719531684944, -387.18682344864953, -428.9406678610218, -129.35316934854433, -42.20479957332196, -299.30607122610127, -76.1309924137321, -184.45552414081902, -155.5419665919016, -97.02681237688708, -329.3835655045425, -477.5761320062836, -268.1400578724808, -494.6095436405805, -457.91137527629314, -580.8991515451589, -173.17993858358938, -515.9481852578103, -173.73789404802915, -42.20479957332196, -425.1864393378077, -385.73663283799937, -471.34180724159717, -33.53687998348282, -157.6171800153818, -388.3632470919284, -398.8123973270474, -498.70092253546824, -232.71757563541502, -388.3632470919284, -38.347779511642486, -177.46907122512425, -456.94869691622864, -219.5344727277165, -422.92088122146924, -490.6203941387609, -135.1994074613238, -82.30763839186541, -35.26819517833025, -20.335557248651284, -576.5303447897742, -549.1020211427019, -365.6952766566014, -257.84604031944036, -39.30896384748492, -184.45552414081902]

In [12]:
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

rf_regressor = RandomForestRegressor()
rf_regressor.fit(X_train.values, y_train.values)

# Predict on the test set
y_pred = rf_regressor.predict(X_test.values)

# Predict on new inputs
inputs = [[1982, 29.11, 81.3, 1.822329, 19.098575, 500.0]]  # Example new inputs, adjust as needed
scaled_inputs = scaler.transform(inputs)
final_inputs = np.concatenate((scaled_inputs.reshape(6,), [1, 0, 0, 0, 0])).reshape(1, -1)
display(final_inputs)
output = rf_regressor.predict(final_inputs)

print('Predicted production for new inputs:', output)

array([[-1.69413415,  1.28835796, -1.34680375, -0.43910775,  0.41680564,
        -0.61133696,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ]])

Predicted production for new inputs: [435.16]

In [14]:
import joblib

# Save the trained model to a file
joblib.dump(rf_regressor, 'rf_regressor.pkl')

['rf_regressor.pkl']

In [15]:
negative_indices = [index for index, value in enumerate(y_pred) if value < 0]

if negative_indices:
    print("Negative values found in y_pred at indices:", negative_indices)
else:
    print("No negative values found in y_pred")

No negative values found in y_pred

In [12]:
X_train

array([[-0.18133178, -0.90353019,  1.30741198, -0.89970872,  0.75325904,
        -0.45633736],
       [-0.18133178,  0.25487702, -0.10479639, -1.02450607, -0.51176592,
         0.51146499],
       [-1.58607684,  0.16402155, -0.62459947,  0.41533713,  0.55892387,
        -0.63401983],
       ...,
       [-0.07327447,  0.36844636,  0.0792047 , -1.25414111, -0.50713374,
         0.24305105],
       [-1.47801953,  0.02773835,  0.17120525, -0.5939439 , -0.93424875,
         0.543221  ],
       [ 0.46701209, -0.08583098, -0.33479775, -0.87216158,  0.98298537,
         0.90554201]])